<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Email List</title>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <h1 class="text-center p-4 mb-4">
                <span>Random </span>
                <span>Mail </span>
                <span>Generator</span>
            </h1>
            <button @click="generateMail()">Genera emails</button>
            <div class="list_wrapper">
                <Transition name="slide-fade">
                    <ul class="list-unstyled" v-if="mailList.length >=10">
                        <li class="p-2" v-for="(mail, index) in mailList" :key="index">{{mail}}</li>
                    </ul>
                </Transition>
            </div>
        </div>
    </div>



    <script src="js/script.js"></script>
</body>
</html>